//$background: #f8f9fa;
$light-gray: #e2e2e2;
$bg-gray: #f1f1f1;
$font-gray: #6b6f70;
$white: #fff;
$black: #cecece;
$warning: #f69c00;
$error: #da0c09;
$success: #0fa41b;
$disabled-gray-color: #a9a9a9;
$disabled-gray-border: #d9d9d9;
$accent: #549ad9;
$hover-border: #bfbebe;

$width-input: 300px;