@font-face {
  font-family: 'Calibri-1';
  src: url('../fonts/calibri.ttf') format("truetype"),
       url('../fonts/calibri.woff') format("woff"),
       url('../fonts/calibri.svg') format("svg"),
       url('../fonts/calibri.eot') format("eot");
  font-weight: 400;
  font-style: normal;
}